<div class="other--container">
   <div class="other--titel-bar">
      <h1>Other Teams</h1>
   </div>
   
   <div class="other--list-case">

      <div class="other--users-team">  
         <div class="other--username-case">
            <p class="other--username">@seethelight</p>
         </div>
         
         <div class="other--team-text">
            <p class="other--team-name">
               <b>Team Name: </b>comebacks
            </p>

            <p class="other--team-count">
               <b>Count: </b>6
            </p>
         </div>

         <div class="other--team-cards">
            
            <div class="other--card-team-imgs">
               <img 
                  src="../../../assets/charmander-placeholder.png" 
                  alt="first pokemon" 
               />
               <img 
                  src="../../../assets/bulbasaur-placeholder.png" 
                  alt="fourth pokemon" 
               />
               <img 
                  src="../../../assets/squirtle-placeholder.png" 
                  alt="last pokemon" 
               />
            </div>

            <div class="team--card-list">
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
            </div>
         </div>
      </div>
      
      <div class="other--users-team">  
         <div class="other--username-case">
            <p class="other--username">@seethelight</p>
         </div>
         
         <div class="other--team-text">
            <p class="other--team-name">
               <b>Team Name: </b>comebacks
            </p>

            <p class="other--team-count">
               <b>Count: </b>6
            </p>
         </div>

         <div class="other--team-cards">
            
            <div class="other--card-team-imgs">
               <img 
                  src="../../../assets/charmander-placeholder.png" 
                  alt="first pokemon" 
               />
               <img 
                  src="../../../assets/bulbasaur-placeholder.png" 
                  alt="fourth pokemon" 
               />
               <img 
                  src="../../../assets/squirtle-placeholder.png" 
                  alt="last pokemon" 
               />
            </div>

            <div class="team--card-list">
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
            </div>
         </div>
      </div>
      
      <div class="other--users-team">  
         <div class="other--username-case">
            <p class="other--username">@seethelight</p>
         </div>
         
         <div class="other--team-text">
            <p class="other--team-name">
               <b>Team Name: </b>comebacks
            </p>

            <p class="other--team-count">
               <b>Count: </b>6
            </p>
         </div>

         <div class="other--team-cards">
            
            <div class="other--card-team-imgs">
               <img 
                  src="../../../assets/charmander-placeholder.png" 
                  alt="first pokemon" 
               />
               <img 
                  src="../../../assets/bulbasaur-placeholder.png" 
                  alt="fourth pokemon" 
               />
               <img 
                  src="../../../assets/squirtle-placeholder.png" 
                  alt="last pokemon" 
               />
            </div>

            <div class="team--card-list">
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
            </div>
         </div>
      </div>
      
      <div class="other--users-team">  
         <div class="other--username-case">
            <p class="other--username">@seethelight</p>
         </div>
         
         <div class="other--team-text">
            <p class="other--team-name">
               <b>Team Name: </b>comebacks
            </p>

            <p class="other--team-count">
               <b>Count: </b>6
            </p>
         </div>

         <div class="other--team-cards">
            
            <div class="other--card-team-imgs">
               <img 
                  src="../../../assets/charmander-placeholder.png" 
                  alt="first pokemon" 
               />
               <img 
                  src="../../../assets/bulbasaur-placeholder.png" 
                  alt="fourth pokemon" 
               />
               <img 
                  src="../../../assets/squirtle-placeholder.png" 
                  alt="last pokemon" 
               />
            </div>

            <div class="team--card-list">
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
            </div>
         </div>
      </div>
      
      <div class="other--users-team">  
         <div class="other--username-case">
            <p class="other--username">@seethelight</p>
         </div>
         
         <div class="other--team-text">
            <p class="other--team-name">
               <b>Team Name: </b>comebacks
            </p>

            <p class="other--team-count">
               <b>Count: </b>6
            </p>
         </div>

         <div class="other--team-cards">
            
            <div class="other--card-team-imgs">
               <img 
                  src="../../../assets/charmander-placeholder.png" 
                  alt="first pokemon" 
               />
               <img 
                  src="../../../assets/bulbasaur-placeholder.png" 
                  alt="fourth pokemon" 
               />
               <img 
                  src="../../../assets/squirtle-placeholder.png" 
                  alt="last pokemon" 
               />
            </div>

            <div class="team--card-list">
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
            </div>
         </div>
      </div>
      
      <div class="other--users-team">  
         <div class="other--username-case">
            <p class="other--username">@seethelight</p>
         </div>
         
         <div class="other--team-text">
            <p class="other--team-name">
               <b>Team Name: </b>comebacks
            </p>

            <p class="other--team-count">
               <b>Count: </b>6
            </p>
         </div>

         <div class="other--team-cards">
            
            <div class="other--card-team-imgs">
               <img 
                  src="../../../assets/charmander-placeholder.png" 
                  alt="first pokemon" 
               />
               <img 
                  src="../../../assets/bulbasaur-placeholder.png" 
                  alt="fourth pokemon" 
               />
               <img 
                  src="../../../assets/squirtle-placeholder.png" 
                  alt="last pokemon" 
               />
            </div>

            <div class="team--card-list">
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
               <app-poke-card></app-poke-card>
            </div>
         </div>
      </div>
   </div>
</div>
