<div class="item--container"> 
   <div class="home--title-bar">
   <img
      (click)="back()"
      class="home--back-arrow" 
      src="../../../assets/back-arrow.png" 
      alt="visit previous page"
   />
   <h1>Home</h1>
</div>
   <app-home-bar></app-home-bar>

   <div class="item--case">
      <div class="item--header">
         <div class="circle--case">
            <div class="circle--one" [style.backgroundColor]="randomColor"></div>
            <div class="circle--two"></div>
         </div>
         
         <div class="item--img-case">
            <img
            class="item--image" 
            src="../../../../../assets/dream-odd-incense-sprite.png" 
            alt="item logo/image" 
            />
         </div>
      </div>
      
      <div class="item--text-box">
         <div class="item--spec-case">
            <h4 class="item--name">Odd Incense</h4>
            <p class="item--number">nº11</p>
            
            <p class="item--category-text"><b>Category: </b><span>Hold Item</span> </p>
            
            <p class="item--cost"><b>Cost: </b><span>9,600</span></p>
         </div>

         <div class="item--effect-case">
            <h5 class="item--effect-title">Effect</h5>
            <p class="item--effect-details">
               The Odd Incense (Japanese: あやしいおこう 
               Mysterious Incense) is a type of held 
               item introduced in Generation IV. It is 
               an incense that allows Mr. Mime and Mr. 
               Rime to produce Mime Jr. Eggs. In 
               battle, its effect is identical to the 
               Twisted Spoon.
            </p>
         </div> 
      </div>
      <!-- 
       -->
   </div>
</div>
