@media screen and (min-width: 375px) {
   .search--container {
      padding: 1rem 0;
      display: flex;
      justify-content: center;
   }

   input {
      margin: 0 auto;
      width: 100%;
      height: 3rem;
      border: none;
      padding-left: 0.35rem;
      background-color: var(--clr-neutral-600);
   }

   input:focus {
      outline-color: var(--clr-primary-500);
   }
}

@media screen and (min-width: 768px) {
   input {
      height: 5rem;
      padding-left: 2rem;
      font-size: var(--fs-500);
   }
}