<div class="hotbar--container">
   <div class="img--case" routerLink="/home">
      <img 
      class="hotbar--logo-home" 
      src="../../../assets/home-logo.png" 
      alt="home hotbar logo"
      />
   </div>

   <!-- <div class="img--case" routerLink="/home/other-teams">
      <img 
         class="hotbar--logo-teams" 
         src="../../../assets/pokepin-logo.png"
         alt="other teams hotbar logo"
      />
   </div> -->

   <div class="img--case" routerLink="/custom">
      <img 
         class="hotbar--logo-custom" 
         src="../../../assets/pokeball-logo.png" 
         alt="custom hotbar logo"
         
      />
   </div>

   <div class="img--case" routerLink="/home/profile">
      <img 
         class="hotbar--logo-profile" 
         src="../../../assets/profile-logo.png" 
         alt="profile hotbar logo"
         
      />
   </div>
</div>
