<div class="empty--container">
   <div class="custom--titel-bar">
      <h1>Custom</h1>
   </div>
   
   <div class="custom--empty-case">
      <div class="custom--inner-case">
         <div class="custom--img-case">
            <img 
               class="custom--img"
               src="../../../assets/empty-teams-magikarp.png" 
               alt="black and white magikarp" 
            />
         </div>
      
         <div class="custom--text-box">
            <h3>You have no custom teams :(</h3>
            <p>please click the button below to start creating a team.</p>
         </div>
         
         <button 
            class="custom--create-team" 
            title="create" 
            type="button"
            routerLink="/custom/edit"
         >
            Cerate Team
         </button>
      </div>
   </div>  
</div>
