@media screen and (min-width: 375px) {
   .signup--container {
      padding: 1rem;
      min-height: 100vh;
      position: relative;
   }

   .signup--img-hilda {
      margin: 0 auto;
      display: block;
      height: 23rem;
   }

   .signup--img-couple,
   .signup--img-father-son,
   .signup--img-teen {
      display: none;
   }

   .signup--form-case {
      position: absolute;
      bottom: 0;
      left: -.05rem;
      width: 100%;
      height: 57vh;
      padding: 1rem;
      text-align: center;
      color: var(--clr-neutral-900);
   }
   
   .signup--title {
      margin: 0 auto;
      width: max-content;
      font-weight: var(--fw-light);
      font-size: var(--fs-400);
   }

   .signup--give {
      margin-top: 0.625rem;
      font-size: var(--fs-500);
      font-weight: var(--fw-semi-bold);
   }

   .signup--form-group {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
   }

   #signup--username,
   #signup--email,
   #signup--password {
      height: 3.25rem;
      margin-top: 0.5rem;
      text-transform: lowercase;
   }
   
   #signup--gender-case {
      display: flex;
      flex-direction: column;
   }

   label {
      text-align: left;
   }

   .signup--button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15vh;
      background-color: var(--clr-neutral-800);
   }

   .signup--button {
      width: 87.46vw;
      height: 3.625rem;
      margin-top: 1.5rem;
      border: none;
      border-radius: 3.125rem;
      font-size: var(--fs-600);
      color: var(--clr-neutral-100);
      background-color: var(--clr-primary-500);
      cursor: pointer;
   }

   .signup--button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
   }

   .signup--switch-link {
      font-weight: var(--fw-light);
      margin-top: 0.6rem;
      color: var(--clr-neutral-100);
   }

   .signup--login {
      font-weight: 400;
      color: var(--clr-primary-600);
   }

   .signup--login:hover {
      cursor: pointer;
      text-decoration: underline;
   }
}

@media screen and (min-width: 768px) {
   .signup--container {
      padding: 3rem;
      display: flex;
      height: 100%;
   }

   .signup--case {
      width: 100%;
      margin: 0 auto;
      display: flex;
      gap: 3rem;
   }
   
   .img--case { 
      display: flex;
      min-width: 37vw;
      flex-direction: column;
      justify-content: center;
   }

   .signup--img-hilda {
      display: none;
   }

   .signup--img-couple {
      display: block;
   }

   .signup--img-father-son {
      display: block;
   }

   .signup--img-teen {
      display: none;
   }

   .signup--form-case {
      position: unset;
      width: 100%;
      height: 100%;
      color: var(--clr-neutral-900);
      background-color: transparent;
   }

   .form--case {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc((100vh - 23rem) - 2rem);
   }
   
   .signup--textbox {
      margin: 14vh auto 0;
      width: max-content;
   }

   .signup--title {
      font-size: var(--fs-500);
      letter-spacing: 0.1rem;
   }

   .signup--give {
      font-size: var(--fs-600);
      letter-spacing: 0.125rem;
   }

   form {
      min-width: none;
   }
   
   .signup--button-container {
      margin: 6vh auto;
      width: 40vw;
      height: min-content;
      position: unset;
      background-color: transparent;
   }

   .signup--button {
      height: 4.2rem;
      width: 100%;
      font-size: var(--fs-800);
   }

   .signup--form-group input {
      height: 3rem;
      margin-top: 0.313rem;
      border: none;
      padding-left: 0.35rem;
      background-color: var(--clr-neutral-600);
   }

   .signup--switch-link {
      font-weight: var(--fw-light);
      margin-top: 0.8rem;
   }
}

@media screen and (min-width: 1440px) {
   .signup--container {
      padding: 4rem;
   }

   .img--case {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      width: 50vw;
      gap: 1rem;
   }

   .signup--img-hilda,
   .signup--img-couple,
   .signup--img-father-son,
   .signup--img-teen {
      display: block;
   }

   .signup--textbox {
      margin-top: 6vh;
   }

   .signup--form-case {
      width: 35vw;
   }

   .signup--form-group {
      margin-top: 3rem;
   }

   .signup--title {
      font-size: var(--fs-600);
   }

   .signup--give {
      font-size: var(--fs-700);
   }

   .signup--button {
      width: 33vw;
   }
}