<div class="signup--container">
   
   <div class="img--case">
      <img
         class="signup--img-hilda"
         src="../../../assets/characters/sprite-hilda-1.png" 
         alt="signup page logo">
      <img
         class="signup--img-couple"
         src="../../../assets/characters/couple-trainers.png" 
         alt="signup page logo">
      <img
         class="signup--img-father-son"
         src="../../../assets/characters/kid-and-fatguy-with-bag.png" 
         alt="signup page logo">
      <img
         class="signup--img-teen"
         src="../../../assets/characters/teen-trainer.png" 
         alt="signup page logo">
   </div>

   <div class="signup--case">
      <p class="signup--title">Create an account</p>

      <h2 class="signup--give">Fill out your details</h2>

      <!-- [formGroup]="signupForm" -->
      <div class="form--case">
         <form>
            <div class="signup--form-group">
               <label for="signup--username">Username</label>
               <input 
                  type="text" 
                  name="username" 
                  id="signup--username" 
                  placeholder="Username"
                  ngModel
                  required
                  username
               />
               
               <!-- #username="ngModel" -->
            </div>

            <div class="signup--form-group">
               <label for="signup--email">Password</label>
               <input 
                  type="email" 
                  name="email" 
                  id="signup--email" 
                  placeholder="E-mail"
                  ngModel
                  required
                  email
               />
               
               <!-- #email="ngModel" -->
            </div>

            <div class="signup--form-group">
               <label for="signup--password">Confirm Password</label>
               <input 
                  type="password" 
                  name="password" 
                  id="signup--password" 
                  placeholder="Password"
                  ngModel
                  required
                  password
               />
               
               <!-- #password="ngModel" -->
            </div>
            
            <div class="signup--button-container">
               <button 
                  class="signup--button" 
                  type="submit" 
                  title="button"
               >
                  Sign Up
               </button>
            </div>

         </form>

      </div>

   </div>

</div>