<div class="team--container">
   <h2 class="team--title">Team</h2>

   <div class="team--case">
      <div class="team--title-case">
         <h4 class="team--name">Iron</h4>
         <div class="team--user-info-case">
            <p class="team--username">flowerchild</p>
            <img 
               class="team--user-logo" 
               src="" 
               alt="user avi"
            />
         </div>

         <div class="team--card-list">
            <app-poke-card></app-poke-card>
         </div>

      </div>
   </div>
</div>
